.plugin-citation {
  &__custom-tab {
    background-color: var(--b3-theme-background);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__custom-dock {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.b3-dialog__container {
  .b3-dialog {
    //弹窗标题
    &__header {
      // 自定义弹窗去掉无意义标题
      &.fn__none-custom {
        display: none;
      }
    }
  }
}
.protyle div[data-type="NodeSuperBlock"][custom-annotation-color] {
  border: dashed 0.1em gray;
}

// callout块相关样式
.callout[data-subtype=COROLLARY]::before {
  background-color: var(--b3-callout-tip);
}

.callout[data-subtype=COROLLARY] .callout-info {
  color: var(--b3-callout-tip);
}

.callout[data-subtype=THEOREM]::before {
  background-color: var(--b3-callout-important);
}

.callout[data-subtype=THEOREM] .callout-info {
  color: var(--b3-callout-important);
}

.callout[data-subtype=LEMMA]::before {
  background-color: var(--b3-callout-warning);
}

.callout[data-subtype=LEMMA] .callout-info {
  color: var(--b3-callout-warning);
}

.callout[data-subtype=REMARK]::before {
  background-color: var(--b3-callout-caution);
}

.callout[data-subtype=REMARK] .callout-info {
  color: var(--b3-callout-caution);
}